body {
	margin:0;
}

#videos
{
	margin-left: 25%;
	margin-right: 25%;
}
#navbar
{
	position: fixed;
	overflow: auto;
	width: 24%;
	height: 100%;
	background-color: #cccccc;
}

/* _______Video entry________*/
.video_entry
{
	display:flex;
	flex-direction:row-reverse;
	display-reverse:true;
	margin-bottom: 4px;
	cursor: pointer;
	background-color: #cccccc;
}

.video_entry:hover
{
	background-color: #aaaaaa;
}

.video_entry h3
{
	text-align: left;
	margin-left: 30px;
	margin-right: 30px;
	width: 600px;
}
.video_entry img
{
	height: 150px;
}

/* _______Group entry________*/

.group_entry
{
	background-color: white;
	cursor: pointer;
	height: 40px;
	margin-bottom: 10px;
}

.group_entry:hover
{
	background-color: #000000;
	color: white;
}

.group_entry h3
{
	position: absolute;
	padding-left: 40px;
	padding-bottom: 10px;
}

