body {
	margin:0;
}

:root
{
	--main-bg-color: #ccc;
	--dark-bg-color: #aaa;
	--button-color: #cccccc;
	--button-color-hi: #fff;
	--red-button-color: #eecccc;
	--red-button-color-hi: #ee8888;
}

#videos
{
	margin-left: 25%;
	margin-right: 25%;
}
#navbar
{
	position: fixed;
	overflow: auto;
	width: 24%;
	height: 100%;
	background-color: var(--main-bg-color);
	border-right: solid var(--dark-bg-color);
}

/* _______Video entry________*/
.video_entry
{
	height: 150px;
	display:flex;
	flex-direction:row-reverse;
	display-reverse:true;
	cursor: pointer;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: var(--dark-bg-color);
}

.video_entry:hover
{
	background-color: var(--main-bg-color);
}

.video_entry #info_div
{
	color: #666666;
	font-size: 14px;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 600px;
}

.video_entry #title
{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow:hidden;
	-webkit-line-clamp: 2;

	font-size: 20px;
	margin-top:10px;
	margin-bottom:10px;
	color: black;
}

.video_entry #channel
{
	font-weight: bold;
}

.video_entry #channel:hover
{
	color: white;
}

.video_entry #description
{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow:hidden;
	-webkit-line-clamp: 2;
	margin-top: 16px;
}

.video_entry #media_info
{
	display: flex;
	height: 20px;
}

.video_entry #media_info #date
{
	margin-left: 10px;
}

/* links */
.video_entry a
{
	text-decoration: none;
	color: #007878;
}
.video_entry a:visited
{
	color: #222222;
}
.video_entry a:hover
{
	color: #ffffff;
}

.video_entry #thumb
{
	height: 100%;
}
.video_entry #thumb img
{
	clip-path: inset(13% 0px 13% 0px);
	height: 100%;
}

/* _______Group entry________*/

.group_entry
{
	position: relative;
	font-size: 18px;
	background-color: white;
	padding-left:30px;
	padding-top:5px;
	cursor: pointer;
	height: 30px;
	margin-bottom: 3px;
}
.group_entry button img
{
	width: 100%;
	height: 100%;
}
.group_entry button
{
	padding:5px;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 100%;
}
#chosen
{
	background-color: var(--dark-bg-color);
}

.group_entry:hover
{
	background-color: #000000;
	color: white;
}

/* _______Group config_______*/

button
{
	border: solid var(--dark-bg-color);
	background-color: var(--button-color);
}
button:hover
{
	background-color: var(--button-color-hi);
}

#group_config
{
	border: solid var(--dark-bg-color);
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 45px;
	background-color: var(--main-bg-color);
}
#group_config #channel_box
{
	padding: 0 5px 0 5px;
	overflow: auto;
	background-color: var(--dark-bg-color);
	height: 570px;
}

#group_config #actions
{
	padding-top: 5px;
}
#group_config #actions button
{
	padding: 7px;
}

#group_config #delete
{
	background-color: var(--red-button-color);
}
#group_config #delete:hover
{
	background-color: var(--red-button-color-hi);
}


#group_config #cancel
{
	float: right;
}

#title_change
{
	padding: 5px;
	padding-bottom: 30px;
}

.config_entry
{
	position: relative;
	display: flex;
	height: 40px;
	margin-top: 5px;
	background-color: #ffffff;
}

.config_entry div
{
	margin-top: 15px;
	margin-left: 10px;
}

.config_entry button
{
	padding: 10px;
	background-color: var(--red-button-color);
	position: absolute;
	height: 100%;
	width:40px;
	right: 0;
	top: 0;
}
.config_entry button:hover
{
	background-color: var(--red-button-color-hi);
}
.config_entry button img
{
	width: 100%;
	height: 100%;
}
.config_entry button img svg
{
	fill: #f00;
}

#author_msg
{
	color: #aaa;
	font-size: 16px;
	text-align: right;
	position: fixed;
	right: 40px;
	left: 76%;
	bottom: 20px;
}
#author_msg a
{
	text-decoration: none;
	color: inherit;
}
#author_msg a:hover
{
	color: #007878;
}
@media screen and (max-width: 800px)
{
	#author_msg
	{
		display: none;
	}
	#videos
	{
		margin-right: 20px;
	}
}
